Repository deploymenttheory/go-sdk-jamfpro-v2: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, acceptancetests, client, interfaces, validators, shared, classic_api, jamf_pro_api

codecov.yml:

# Codecov configuration for go-sdk-jamfpro-v2
# For more info: https://docs.codecov.io/docs/codecov-yaml

# Go Integration Test Coverage (Go 1.20+ Features)
#
#   1. https://go.dev/blog/integration-test-coverage
#     - Official Go blog explaining Go 1.20+ coverage for integration tests
#     - How to use go build -cover and go tool covdata
#   2. https://dustinspecker.com/posts/go-combined-unit-integration-code-coverage/
#     - Practical examples of merging unit and integration test coverage
#     - Step-by-step commands for combining coverage data
#   3. https://go.dev/doc/build-cover
#     - Official documentation on coverage profiling
#     - Using GOCOVERDIR environment variable
#   4. https://netdevops.me/2023/test-coverage-for-go-integration-tests/
#     - Real-world implementation examples
#     - How to convert binary coverage format to text format for Codecov

codecov:
  bot: "codecov-io"
  require_ci_to_pass: true
  max_report_age: 24h
  notify:
    after_n_builds: 1
    wait_for_ci: true

coverage:
  precision: 2
  round: down
  range: "60...90"

  status:
    project:
      default:
        target: auto
        threshold: 2%
        base: auto
        branches:
          - main
        if_ci_failed: error  # Informational only - GitHub Actions enforces
        informational: true

    patch:
      default:
        target: 80%  # Minimum coverage for new code - GitHub Actions enforces this
        threshold: 5%
        base: auto
        branches:
          - main
        if_ci_failed: ignore  # Informational only - GitHub Actions enforces
        informational: true

# Flags for different test types
flags:
  # General test categories
  unittests:
    paths:
      - "jamfpro/"
    carryforward: false

  acceptancetests:
    paths:
      - "jamfpro/acceptance/"
    carryforward: false

  # Core components
  client:
    paths:
      - "jamfpro/client/"
    carryforward: false

  interfaces:
    paths:
      - "jamfpro/interfaces/"
    carryforward: false

  validators:
    paths:
      - "jamfpro/services/validators/"
    carryforward: false

  shared:
    paths:
      - "jamfpro/services/shared/"
    carryforward: false

  # API-level categories
  classic_api:
    paths:
      - "jamfpro/services/classic_api/"
    carryforward: false

  jamf_pro_api:
    paths:
      - "jamfpro/services/jamf_pro_api/"
    carryforward: false


# Ignore paths that shouldn't count towards coverage
ignore:
  # Directories
  - "tools/"
  - "scripts/"
  - "examples/"
  - "docs/"

  # Test files and fixtures
  - "**/*_test.go"
  - "**/testdata/**"
  - "**/mocks/**"
  - "**/tests/**"
  - "**/acceptance/**"  # Acceptance test helpers and dependencies

  # File types
  - "*.md"              # Documentation files
  - "*.json"            # Mock responses and fixture data
  - "*.xml"             # Classic API XML fixtures
  - "*.yml"
  - "*.yaml"
  - "go.mod"
  - "go.sum"

# Parser settings for Go
parsers:
  go:
    partials_as_hits: false

# Pull request comment configuration
comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  branches:
    - main

# GitHub Checks annotations
github_checks:
  annotations: true

feat: add new services to Client struct for enhanced API functionality
  jamfpro/acceptance/jamf_pro_api/health_check_test.go
  jamfpro/acceptance/jamf_pro_api/jamf_account_preferences_test.go
  jamfpro/acceptance/jamf_pro_api/jamf_pro_user_account_settings_test.go
  jamfpro/acceptance/jamf_pro_api/jamf_protect_test.go
  jamfpro/new.go
Due: unittests

feat: implement UpdateAndUpload functionality for package management
  jamfpro/acceptance/jamf_pro_api/packages_test.go
  jamfpro/services/jamf_pro_api/packages/crud.go
  jamfpro/services/jamf_pro_api/packages/crud_test.go
Due: unittests, jamf_pro_api

chore(main): release 0.7.0
  CHANGELOG.md
Due: none

fix: update response handling in CRUD services to use specific resource types
  jamfpro/services/jamf_pro_api/ebooks/crud.go
  jamfpro/services/jamf_pro_api/enrollment/crud.go
  jamfpro/services/jamf_pro_api/enrollment_customizations/crud.go
  jamfpro/services/jamf_pro_api/groups/crud.go
  jamfpro/services/jamf_pro_api/jamf_connect/crud.go
  jamfpro/services/jamf_pro_api/jamf_protect/crud.go
  jamfpro/services/jamf_pro_api/mobile_device_extension_attributes/crud.go
  jamfpro/services/jamf_pro_api/mobile_device_prestages/crud.go
  jamfpro/services/jamf_pro_api/packages/crud.go
  jamfpro/services/jamf_pro_api/patch_policies/crud.go
  jamfpro/services/jamf_pro_api/scripts/crud.go
  jamfpro/services/jamf_pro_api/self_service_branding_ios/crud.go
  jamfpro/services/jamf_pro_api/self_service_branding_macos/crud.go
  jamfpro/services/jamf_pro_api/volume_purchasing_locations/crud.go
Due: unittests, jamf_pro_api

chore(main): release 0.7.1
  CHANGELOG.md
Due: none

feat: enhance package upload process with cloud distribution point refresh
  jamfpro/services/jamf_pro_api/packages/crud.go
  jamfpro/services/jamf_pro_api/packages/crud_test.go
  jamfpro/services/jamf_pro_api/packages/mocks/responders.go
Due: unittests, jamf_pro_api

fix: unit test tidy up
  examples/jamf_pro_api/enrollment/v2/get_history/main.go
  jamfpro/acceptance/jamf_pro_api/smart_computer_groups_test.go
  jamfpro/services/jamf_pro_api/jamf_protect/crud_test.go
  jamfpro/services/jamf_pro_api/jamf_protect/mocks/responders.go
  jamfpro/services/jamf_pro_api/packages/crud.go
  jamfpro/services/jamf_pro_api/patch_software_title_configurations/mocks/validate_list.json
  jamfpro/services/jamf_pro_api/sso_settings/models.go
Due: unittests, jamf_pro_api

chore: update MIME type constants and refactor headers in API calls
  jamfpro/constants/mime.go
  jamfpro/jamf_pro_api/adcs_settings/crud.go
  jamfpro/jamf_pro_api/branding/crud.go
  jamfpro/jamf_pro_api/digicert/crud.go
  jamfpro/jamf_pro_api/enrollment_customizations/crud.go
  jamfpro/jamf_pro_api/icon/crud.go
  jamfpro/jamf_pro_api/inventory_preload/crud.go
  jamfpro/jamf_pro_api/reenrollment/crud.go
  jamfpro/jamf_pro_api/scripts/crud.go
  jamfpro/jamf_pro_api/self_service_branding_upload/crud.go
Due: unittests

chore(main): release 0.8.0
  CHANGELOG.md
Due: none

refactor: improve error handling and response processing in mock and CRUD implementations
  jamfpro/jamf_pro_api/access_management_settings/mocks/responders.go
  jamfpro/jamf_pro_api/packages/crud.go
Due: unittests

refactor: streamline authentication and transport configuration in Jamf Pro client
  jamfpro/client/auth.go
  jamfpro/client/auth_test.go
  jamfpro/client/pagination.go
  jamfpro/client/pagination_test.go
  jamfpro/client/retry.go
  jamfpro/client/retry_test.go
  jamfpro/client/settings.go
  jamfpro/client/transport.go
  jamfpro/client/transport_options.go
  jamfpro/client/transport_options_test.go
  jamfpro/client/transport_test.go
  jamfpro/client/version.go
  jamfpro/constants/version.go
  jamfpro/jamfpro.go
  jamfpro/with_options.go
Due: unittests, client

chore(main): release 0.8.1
  CHANGELOG.md
Due: none

refactor: update client configuration and API usage in documentation
  README.md
  docs/guides/authentication.md
  docs/guides/custom-headers.md
  docs/guides/debugging.md
  docs/guides/logging.md
  docs/guides/opentelemetry.md
  docs/guides/proxy.md
  docs/guides/quick-start.md
  docs/guides/timeouts-retries.md
  docs/guides/tls-configuration.md
Due: none

chore: update release type in GitHub Actions workflow from terraform-module to go
  .github/workflows/release-please.yml
Due: none

feat: added missing examples to packages
  examples/jamf_pro_api/packages/assign_manifest/main.go
  examples/jamf_pro_api/packages/create_and_upload/main.go
  examples/jamf_pro_api/packages/delete_manifest/main.go
  examples/jamf_pro_api/packages/export/main.go
  examples/jamf_pro_api/packages/export_history/main.go
  examples/jamf_pro_api/packages/update_and_upload/main.go
  examples/jamf_pro_api/packages/upload/main.go
Due: none

chore(main): release 0.9.0
  CHANGELOG.md
Due: none

feat: add PKCS7 signature stripping for configuration profiles
  jamfpro/classic_api/macos_configuration_profiles/crud.go
  jamfpro/classic_api/mobile_device_configuration_profiles/crud.go
  jamfpro/shared/crypto/pkcs7.go
  jamfpro/shared/crypto/pkcs7_test.go
Due: unittests

chore(main): release 0.10.0
  CHANGELOG.md
Due: none

fix(ci): remove AUTH_METHOD from secrets to prevent log masking
  .github/workflows/get-openapi-specs.yml
Due: none

chore(main): release 0.10.1
  CHANGELOG.md
Due: none

openapi: add specs for Jamf Pro 11.25.2-t1772925731845
  openapi-specs/11.25.2-t1772925731845/api-schema.json
  openapi-specs/11.25.2-t1772925731845/swagger.yaml
Due: none

feat: updates for jamf pro v11.25
  examples/jamf_pro_api/packages/upload/main.go
  jamfpro/acceptance/config.go
  jamfpro/acceptance/jamf_pro_api/notifications_test.go
  jamfpro/acceptance/jamf_pro_api/packages_test.go
  jamfpro/acceptance/jamf_pro_api/service_discovery_enrollment_test.go
  jamfpro/jamf_pro_api/cloud_distribution_point/crud.go
  jamfpro/jamf_pro_api/cloud_distribution_point/models.go
  jamfpro/jamf_pro_api/enrollment/models.go
  jamfpro/jamf_pro_api/mdm/models.go
  jamfpro/jamf_pro_api/mobile_device_groups/models.go
  jamfpro/jamf_pro_api/notifications/crud.go
  jamfpro/jamf_pro_api/notifications/crud_test.go
  jamfpro/jamf_pro_api/notifications/mocks/responders.go
  jamfpro/jamf_pro_api/notifications/models.go
  jamfpro/jamf_pro_api/packages/crud.go
  jamfpro/jamf_pro_api/packages/crud_test.go
  jamfpro/jamf_pro_api/packages/mocks/responders.go
  jamfpro/jamf_pro_api/packages/models.go
  jamfpro/jamf_pro_api/service_discovery_enrollment/models.go
  jamfpro/jamf_pro_api/sites/models.go
  jamfpro/shared/crypto/crypto.go
  jamfpro/shared/models/models.go
  jamfpro/tools/upload_counter/progress.go
Due: unittests

chore(main): release 0.11.0
  CHANGELOG.md
Due: none

fix: update computer creation endpoint to use ID 0 in Classic API
  jamfpro/classic_api/computers/crud.go
Due: unittests

openapi: add specs for Jamf Pro 11.26.1-t1774880441315
  openapi-specs/11.26.1-t1774880441315/api-schema.json
  openapi-specs/11.26.1-t1774880441315/swagger.yaml
Due: none

chore(main): release 0.11.1
  CHANGELOG.md
Due: none
