Repository deploymenttheory/go-sdk-jamfpro-v2: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, acceptancetests, client, interfaces, validators, shared, classic_api, jamf_pro_api

refactor: update API mock responders to reflect version changes
  jamfpro/services/jamf_pro_api/oidc/mocks/responders.go
  jamfpro/services/jamf_pro_api/slasa/mocks/responders.go
  jamfpro/services/jamf_pro_api/time_zones/api_docs.md
  jamfpro/services/jamf_pro_api/tomcat_settings/api_docs.md
  jamfpro/services/jamf_pro_api/user/api_docs.md
  jamfpro/services/jamf_pro_api/user_session/api_docs.md
  jamfpro/services/jamf_pro_api/venafi/api_docs.md
  jamfpro/services/jamf_pro_api/volume_purchasing_locations/api_docs.md
Due: unittests, jamf_pro_api

refactor: remove deprecated self-service branding mobile examples
  examples/jamf_pro_api/self_service_branding_ios/create/main.go
  examples/jamf_pro_api/self_service_branding_ios/delete_by_id/main.go
  examples/jamf_pro_api/self_service_branding_ios/delete_by_name/main.go
  examples/jamf_pro_api/self_service_branding_ios/get_by_id/main.go
  examples/jamf_pro_api/self_service_branding_ios/get_by_name/main.go
  examples/jamf_pro_api/self_service_branding_ios/list/main.go
  examples/jamf_pro_api/self_service_branding_ios/update_by_id/main.go
  examples/jamf_pro_api/self_service_branding_ios/update_by_name/main.go
  examples/jamf_pro_api/self_service_branding_mobile/list/main.go
Due: none

feat: implement UUID preservation in macOS configuration profile updates
  go.mod
  go.sum
  jamfpro/services/classic_api/macos_configuration_profiles/crud.go
  jamfpro/services/classic_api/macos_configuration_profiles/crud_test.go
  jamfpro/services/classic_api/macos_configuration_profiles/plist.go
  jamfpro/services/classic_api/macos_configuration_profiles/plist_test.go
  jamfpro/services/jamf_pro_api/managed_software_updates/models.go
  jamfpro/services/jamf_pro_api/user/models.go
Due: unittests, classic_api, jamf_pro_api

chore(main): release 0.4.0
  CHANGELOG.md
Due: none

refactor: integrate plist UUID preservation in mobile device configuration profile updates
  jamfpro/services/classic_api/macos_configuration_profiles/crud.go
  jamfpro/services/classic_api/mobile_device_configuration_profiles/crud.go
  jamfpro/services/shared/plist/plist.go
  jamfpro/services/shared/plist/plist_test.go
Due: unittests, shared, classic_api

test: add unit tests for updating mobile device configuration profiles with UUID preservation
  jamfpro/services/classic_api/mobile_device_configuration_profiles/crud_test.go
  jamfpro/services/classic_api/mobile_device_configuration_profiles/mocks/responders.go
  jamfpro/services/classic_api/mobile_device_configuration_profiles/mocks/validate_get_mobile_device_configuration_profile.xml
  jamfpro/services/classic_api/mobile_device_configuration_profiles/mocks/validate_get_mobile_device_configuration_profile_empty_payloads.xml
Due: none

fix: implement paginated API responses across multiple services
  jamfpro/services/jamf_pro_api/computer_extension_attributes/crud.go
  jamfpro/services/jamf_pro_api/computer_groups/crud.go
  jamfpro/services/jamf_pro_api/computer_prestages/crud.go
  jamfpro/services/jamf_pro_api/ebooks/crud.go
  jamfpro/services/jamf_pro_api/enrollment/crud.go
  jamfpro/services/jamf_pro_api/enrollment_customizations/crud.go
  jamfpro/services/jamf_pro_api/jamf_pro_server_url/crud.go
  jamfpro/services/jamf_pro_api/onboarding/crud.go
  jamfpro/services/jamf_pro_api/reenrollment/crud.go
  jamfpro/services/jamf_pro_api/self_service_branding_ios/crud.go
  jamfpro/services/jamf_pro_api/self_service_branding_macos/crud.go
  jamfpro/services/jamf_pro_api/sso_settings/crud.go
  jamfpro/services/jamf_pro_api/venafi/crud.go
  recipes/set_all_available_api_priviledges_to_api_role/main.go
Due: unittests, jamf_pro_api

refactor: enhance mock responders for paginated API handling
  jamfpro/services/jamf_pro_api/enrollment_customizations/mocks/responders.go
  jamfpro/services/jamf_pro_api/jamf_pro_server_url/mocks/responders.go
Due: none

fix: update mock responders for GetUserByEmail to use correct response files
  jamfpro/services/classic_api/users/mocks/responders.go
Due: none

refactor: enhance BYOProfiles lifecycle tests and command flush assertions
  jamfpro/acceptance/classic_api/byoprofiles_test.go
  jamfpro/acceptance/classic_api/command_flush_test.go
  jamfpro/acceptance/classic_api/computer_inventory_collection_test.go
  jamfpro/acceptance/classic_api/computer_invitations_test.go
  jamfpro/acceptance/classic_api/file_share_distribution_points_test.go
  jamfpro/services/classic_api/command_flush/crud.go
  jamfpro/services/classic_api/file_share_distribution_points/models.go
Due: unittests, classic_api

refactor: update policy tests for minimum configuration and enhance file share distribution point XML structure
  jamfpro/acceptance/classic_api/file_uploads_test.go
  jamfpro/acceptance/classic_api/policies_helpers.go
  jamfpro/acceptance/classic_api/policies_test.go
  jamfpro/services/classic_api/file_share_distribution_points/mocks/validate_create_file_share_distribution_point.xml
  jamfpro/services/classic_api/file_share_distribution_points/mocks/validate_update_file_share_distribution_point.xml
Due: none

fix: correct error handling in GetPaginated method of SsoSettingsMock
  jamfpro/services/jamf_pro_api/sso_settings/mocks/responders.go
Due: none

refactor: streamline policy tests and enhance error handling
  jamfpro/acceptance/classic_api/file_uploads_test.go
  jamfpro/acceptance/classic_api/mobile_device_applications_test.go
  jamfpro/acceptance/classic_api/mobile_device_enrollment_profiles_test.go
  jamfpro/acceptance/classic_api/policies_test.go
  jamfpro/acceptance/classic_api/restricted_software_test.go
  jamfpro/services/classic_api/accounts_groups/crud_test.go
  jamfpro/services/classic_api/accounts_groups/mocks/validate_create_account_group.xml
  jamfpro/services/classic_api/accounts_groups/mocks/validate_update_account_group.xml
  jamfpro/services/classic_api/policies/models.go
  tools/diagnostic/main.go
Due: unittests, classic_api

chore: remove linter workflow configuration
  .github/workflows/linter.yml
Due: none

chore: remove tests badge from README
  README.md
Due: none

refactor: update mobile device provisioning profile handling and response structure
  examples/classic_api/mobile_device_provisioning_profiles/create_by_id/main.go
  examples/classic_api/mobile_device_provisioning_profiles/update_by_id/main.go
  examples/classic_api/mobile_device_provisioning_profiles/update_by_name/main.go
  jamfpro/acceptance/classic_api/ebooks_test.go
  jamfpro/acceptance/classic_api/file_uploads_test.go
  jamfpro/acceptance/classic_api/mobile_device_groups_test.go
  jamfpro/acceptance/classic_api/mobile_device_provisioning_profiles_test.go
  jamfpro/acceptance/classic_api/restricted_software_test.go
  jamfpro/acceptance/jamf_pro_api/adue_session_token_settings_test.go
  jamfpro/acceptance/jamf_pro_api/api_integrations_test.go
  jamfpro/services/classic_api/computer_history/crud.go
  jamfpro/services/classic_api/mobile_device_provisioning_profiles/crud.go
  jamfpro/services/classic_api/mobile_device_provisioning_profiles/crud_test.go
  jamfpro/services/classic_api/mobile_device_provisioning_profiles/mocks/validate_create_mobile_device_provisioning_profile.xml
  jamfpro/services/classic_api/mobile_device_provisioning_profiles/mocks/validate_update_mobile_device_provisioning_profile.xml
  jamfpro/services/classic_api/mobile_device_provisioning_profiles/models.go
  jamfpro/services/jamf_pro_api/account_preferences/models.go
  jamfpro/services/jamf_pro_api/accounts/crud.go
  jamfpro/services/jamf_pro_api/activation_code/crud.go
  jamfpro/services/jamf_pro_api/api_integrations/crud.go
  jamfpro/services/jamf_pro_api/api_integrations/crud_test.go
  jamfpro/services/jamf_pro_api/api_integrations/models.go
  jamfpro/services/jamf_pro_api/api_roles/crud.go
  jamfpro/services/jamf_pro_api/apns_client_push_status/crud.go
  jamfpro/services/jamf_pro_api/buildings/crud.go
  jamfpro/services/jamf_pro_api/categories/crud.go
  jamfpro/services/jamf_pro_api/cloud_idp/crud.go
  tools/diagnostic/main.go
Due: unittests, classic_api, jamf_pro_api

refactor: improve paginated response handling across multiple API mocks
  jamfpro/services/jamf_pro_api/accounts/mocks/responders.go
  jamfpro/services/jamf_pro_api/activation_code/mocks/responders.go
  jamfpro/services/jamf_pro_api/apns_client_push_status/mocks/responders.go
  jamfpro/services/jamf_pro_api/app_request/mocks/responders.go
  jamfpro/services/jamf_pro_api/buildings/mocks/responders.go
  jamfpro/services/jamf_pro_api/categories/mocks/responders.go
  jamfpro/services/jamf_pro_api/cloud_distribution_point/mocks/responders.go
  jamfpro/services/jamf_pro_api/computer_extension_attributes/mocks/responders.go
  jamfpro/services/jamf_pro_api/computer_groups/mocks/responders.go
  jamfpro/services/jamf_pro_api/computer_inventory/mocks/responders.go
  jamfpro/services/jamf_pro_api/departments/mocks/responders.go
  jamfpro/services/jamf_pro_api/device_communication_settings/mocks/responders.go
  jamfpro/services/jamf_pro_api/distribution_point/mocks/responders.go
  jamfpro/services/jamf_pro_api/dock_items/mocks/responders.go
  jamfpro/services/jamf_pro_api/enrollment/mocks/responders.go
  jamfpro/services/jamf_pro_api/gsx_connection/mocks/responders.go
  jamfpro/services/jamf_pro_api/impact_alert_notification_settings/mocks/responders.go
  jamfpro/services/jamf_pro_api/jamf_connect/mocks/responders.go
  jamfpro/services/jamf_pro_api/jamf_pro_server_url/mocks/responders.go
  jamfpro/services/jamf_pro_api/jamf_remote_assist/mocks/responders.go
  jamfpro/services/jamf_pro_api/local_admin_password/mocks/responders.go
  jamfpro/services/jamf_pro_api/managed_software_updates/mocks/responders.go
  jamfpro/services/jamf_pro_api/mdm/mocks/responders.go
  jamfpro/services/jamf_pro_api/mobile_device_extension_attributes/mocks/responders.go
  jamfpro/services/jamf_pro_api/mobile_device_groups/mocks/responders.go
  jamfpro/services/jamf_pro_api/packages/mocks/responders.go
  jamfpro/services/jamf_pro_api/scripts/mocks/responders.go
  jamfpro/services/jamf_pro_api/self_service_branding_ios/mocks/responders.go
  jamfpro/services/jamf_pro_api/self_service_branding_macos/mocks/responders.go
  jamfpro/services/jamf_pro_api/self_service_settings/mocks/responders.go
  jamfpro/services/jamf_pro_api/smart_computer_groups/mocks/responders.go
  jamfpro/services/jamf_pro_api/smart_mobile_device_groups/mocks/responders.go
  jamfpro/services/jamf_pro_api/smtp_server/mocks/responders.go
  jamfpro/services/jamf_pro_api/static_computer_groups/mocks/responders.go
  jamfpro/services/jamf_pro_api/static_mobile_device_groups/mocks/responders.go
  jamfpro/services/jamf_pro_api/volume_purchasing_locations/crud_test.go
  jamfpro/services/jamf_pro_api/volume_purchasing_locations/mocks/responders.go
  jamfpro/services/jamf_pro_api/volume_purchasing_subscriptions/mocks/responders.go
Due: none

refactor: update response structures in API services for consistency
  jamfpro/services/jamf_pro_api/computer_extension_attributes/crud.go
  jamfpro/services/jamf_pro_api/enrollment/crud.go
  jamfpro/services/jamf_pro_api/jamf_protect/crud.go
  jamfpro/services/jamf_pro_api/mobile_device_groups/crud.go
  jamfpro/services/jamf_pro_api/mobile_device_prestages/crud.go
Due: unittests, jamf_pro_api

refactor: update ListLanguageMessagesV3 response structure for improved clarity
  jamfpro/services/jamf_pro_api/enrollment/crud.go
  jamfpro/services/jamf_pro_api/enrollment/models.go
Due: unittests, jamf_pro_api

refactor: standardize response handling in enrollment tests
  jamfpro/acceptance/jamf_pro_api/enrollment_test.go
  jamfpro/services/jamf_pro_api/enrollment/crud_test.go
Due: none

refactor: simplify paginated response handling in API mocks
  jamfpro/services/jamf_pro_api/accounts/mocks/responders.go
  jamfpro/services/jamf_pro_api/activation_code/mocks/responders.go
  jamfpro/services/jamf_pro_api/apns_client_push_status/mocks/responders.go
  jamfpro/services/jamf_pro_api/computer_inventory/mocks/responders.go
  jamfpro/services/jamf_pro_api/managed_software_updates/mocks/responders.go
  jamfpro/services/jamf_pro_api/managed_software_updates/mocks/validate_update_statuses_array.json
  jamfpro/services/jamf_pro_api/self_service_settings/mocks/responders.go
  jamfpro/services/jamf_pro_api/smtp_server/mocks/responders.go
  jamfpro/services/jamf_pro_api/volume_purchasing_locations/mocks/responders.go
Due: none

feat: add ApiAuthorization service and enhance test assertions
  jamfpro/acceptance/jamf_pro_api/account_preferences_test.go
  jamfpro/acceptance/jamf_pro_api/adue_session_token_settings_test.go
  jamfpro/acceptance/jamf_pro_api/advanced_user_content_searches_test.go
  jamfpro/acceptance/jamf_pro_api/apns_client_push_status_test.go
  jamfpro/acceptance/jamf_pro_api/app_request_test.go
  jamfpro/acceptance/jamf_pro_api/app_store_country_codes_test.go
  jamfpro/acceptance/jamf_pro_api/branding_test.go
  jamfpro/acceptance/jamf_pro_api/classic_ldap_test.go
  jamfpro/acceptance/jamf_pro_api/devices_test.go
  jamfpro/acceptance/jamf_pro_api/digicert_test.go
  jamfpro/acceptance/jamf_pro_api/distribution_point_test.go
  jamfpro/acceptance/jamf_pro_api/enrollment_customization_preview_test.go
  jamfpro/acceptance/jamf_pro_api/inventory_preload_test.go
  jamfpro/acceptance/jamf_pro_api/jamf_management_framework_test.go
  jamfpro/acceptance/jamf_pro_api/jamf_package_test.go
  jamfpro/acceptance/jamf_pro_api/jamf_pro_notifications_test.go
  jamfpro/acceptance/jamf_pro_api/jamf_remote_assist_test.go
  jamfpro/acceptance/jamf_pro_api/jcds_test.go
  jamfpro/acceptance/jamf_pro_api/log_flushing_test.go
  jamfpro/acceptance/jamf_pro_api/mdm_renewal_test.go
  jamfpro/acceptance/jamf_pro_api/mobile_device_apps_test.go
  jamfpro/acceptance/jamf_pro_api/mobile_device_enrollment_profile_test.go
  jamfpro/acceptance/jamf_pro_api/oidc_test.go
  jamfpro/acceptance/jamf_pro_api/tomcat_settings_test.go
  jamfpro/acceptance/jamf_pro_api/user_test.go
  jamfpro/new.go
  jamfpro/services/jamf_pro_api/account_preferences/models.go
  tools/diagnostic/main.go
Due: unittests, jamf_pro_api

chore(main): release 0.5.0
  CHANGELOG.md
Due: none

feat: enhance unit test workflow with detailed statistics reporting
  .github/workflows/unit-tests.yml
Due: none

chore: remove main diagnostic tool implementation
  .github/workflows/coverage-docs.yml
  scripts/pipeline/coverage/generate_coverage_docs.py
  scripts/pipeline/coverage/get_jamf_version.go
  tools/response_body_analysis/main.go
Due: none

chore(main): release 0.6.0
  CHANGELOG.md
Due: none

refactor: streamline coverage documentation workflow and enhance version detection
  .github/workflows/coverage-docs.yml
  scripts/pipeline/coverage/generate_coverage_docs.py
Due: none

chore: remove coverage documentation generation workflow and related scripts
  .github/workflows/coverage-docs.yml
  scripts/pipeline/coverage/generate_coverage_docs.py
  scripts/pipeline/coverage/get_jamf_version.go
Due: none

chore: remove outdated documentation files for pagination and RSQL
  paginated.md
  rsql.md
Due: none

Path conditions:
  unittests: any of: jamfpro/, but not: tools/, scripts/, examples/, docs/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, *.md, *.json, *.xml, *.yml, *.yaml, go.mod, go.sum
  acceptancetests: any of: jamfpro/acceptance/, but not: tools/, scripts/, examples/, docs/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, *.md, *.json, *.xml, *.yml, *.yaml, go.mod, go.sum
  client: any of: jamfpro/client/, but not: tools/, scripts/, examples/, docs/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, *.md, *.json, *.xml, *.yml, *.yaml, go.mod, go.sum
  interfaces: any of: jamfpro/interfaces/, but not: tools/, scripts/, examples/, docs/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, *.md, *.json, *.xml, *.yml, *.yaml, go.mod, go.sum
  validators: any of: jamfpro/services/validators/, but not: tools/, scripts/, examples/, docs/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, *.md, *.json, *.xml, *.yml, *.yaml, go.mod, go.sum
  shared: any of: jamfpro/services/shared/, but not: tools/, scripts/, examples/, docs/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, *.md, *.json, *.xml, *.yml, *.yaml, go.mod, go.sum
  classic_api: any of: jamfpro/services/classic_api/, but not: tools/, scripts/, examples/, docs/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, *.md, *.json, *.xml, *.yml, *.yaml, go.mod, go.sum
  jamf_pro_api: any of: jamfpro/services/jamf_pro_api/, but not: tools/, scripts/, examples/, docs/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, *.md, *.json, *.xml, *.yml, *.yaml, go.mod, go.sum
