Repository deploymenttheory/go-sdk-jamfpro-v2: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, acceptancetests, client, interfaces, validators, shared, classic_api, jamf_pro_api

codecov.yml:

# Codecov configuration for go-sdk-jamfpro-v2
# For more info: https://docs.codecov.io/docs/codecov-yaml

# Go Integration Test Coverage (Go 1.20+ Features)
#
#   1. https://go.dev/blog/integration-test-coverage
#     - Official Go blog explaining Go 1.20+ coverage for integration tests
#     - How to use go build -cover and go tool covdata
#   2. https://dustinspecker.com/posts/go-combined-unit-integration-code-coverage/
#     - Practical examples of merging unit and integration test coverage
#     - Step-by-step commands for combining coverage data
#   3. https://go.dev/doc/build-cover
#     - Official documentation on coverage profiling
#     - Using GOCOVERDIR environment variable
#   4. https://netdevops.me/2023/test-coverage-for-go-integration-tests/
#     - Real-world implementation examples
#     - How to convert binary coverage format to text format for Codecov

codecov:
  bot: "codecov-io"
  require_ci_to_pass: true
  max_report_age: 24h
  notify:
    after_n_builds: 1
    wait_for_ci: true

coverage:
  precision: 2
  round: down
  range: "60...90"

  status:
    project:
      default:
        target: auto
        threshold: 2%
        base: auto
        branches:
          - main
        if_ci_failed: error  # Informational only - GitHub Actions enforces
        informational: true

    patch:
      default:
        target: 80%  # Minimum coverage for new code - GitHub Actions enforces this
        threshold: 5%
        base: auto
        branches:
          - main
        if_ci_failed: ignore  # Informational only - GitHub Actions enforces
        informational: true

# Flags for different test types
flags:
  # General test categories
  unittests:
    paths:
      - "jamfpro/"
    carryforward: false

  acceptancetests:
    paths:
      - "jamfpro/acceptance/"
    carryforward: false

  # Core components
  client:
    paths:
      - "jamfpro/client/"
    carryforward: false

  interfaces:
    paths:
      - "jamfpro/interfaces/"
    carryforward: false

  validators:
    paths:
      - "jamfpro/services/validators/"
    carryforward: false

  shared:
    paths:
      - "jamfpro/services/shared/"
    carryforward: false

  # API-level categories
  classic_api:
    paths:
      - "jamfpro/services/classic_api/"
    carryforward: false

  jamf_pro_api:
    paths:
      - "jamfpro/services/jamf_pro_api/"
    carryforward: false


# Ignore paths that shouldn't count towards coverage
ignore:
  # Directories
  - "tools/"
  - "scripts/"
  - "examples/"
  - "docs/"

  # Test files and fixtures
  - "**/*_test.go"
  - "**/testdata/**"
  - "**/mocks/**"
  - "**/tests/**"
  - "**/acceptance/**"  # Acceptance test helpers and dependencies

  # File types
  - "*.md"              # Documentation files
  - "*.json"            # Mock responses and fixture data
  - "*.xml"             # Classic API XML fixtures
  - "*.yml"
  - "*.yaml"
  - "go.mod"
  - "go.sum"

# Parser settings for Go
parsers:
  go:
    partials_as_hits: false

# Pull request comment configuration
comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  branches:
    - main

# GitHub Checks annotations
github_checks:
  annotations: true

openapi: add specs for Jamf Pro 11.27.0-t1776264729651
  openapi-specs/11.27.0-t1776264729651/api-schema.json
  openapi-specs/11.27.0-t1776264729651/swagger.yaml
Due: none

fix: correct user_sessions model and add graceful skips for privilege-restricted acceptance tests
  jamfpro/acceptance/jamf_pro_api/account_groups_test.go
  jamfpro/acceptance/jamf_pro_api/accounts_test.go
  jamfpro/acceptance/jamf_pro_api/last_login_test.go
  jamfpro/acceptance/jamf_pro_api/user_sessions_test.go
  jamfpro/acceptance/jamf_pro_api/users_inventory_test.go
  jamfpro/jamf_pro_api/user_sessions/crud.go
  jamfpro/jamf_pro_api/user_sessions/crud_test.go
  jamfpro/jamf_pro_api/user_sessions/mocks/validate_active.json
  jamfpro/jamf_pro_api/user_sessions/models.go
Due: unittests

Revert "fix: correct user_sessions model and add graceful skips for privilege-restricted acceptance tests"
  jamfpro/acceptance/jamf_pro_api/account_groups_test.go
  jamfpro/acceptance/jamf_pro_api/accounts_test.go
  jamfpro/acceptance/jamf_pro_api/last_login_test.go
  jamfpro/acceptance/jamf_pro_api/user_sessions_test.go
  jamfpro/acceptance/jamf_pro_api/users_inventory_test.go
  jamfpro/jamf_pro_api/user_sessions/crud.go
  jamfpro/jamf_pro_api/user_sessions/crud_test.go
  jamfpro/jamf_pro_api/user_sessions/mocks/validate_active.json
  jamfpro/jamf_pro_api/user_sessions/models.go
Due: unittests

fix: correct last_login field name and user_sessions response type
  jamfpro/acceptance/jamf_pro_api/last_login_test.go
  jamfpro/acceptance/jamf_pro_api/user_sessions_test.go
  jamfpro/jamf_pro_api/last_login/crud_test.go
  jamfpro/jamf_pro_api/last_login/mocks/validate_get.json
  jamfpro/jamf_pro_api/last_login/models.go
  jamfpro/jamf_pro_api/user_sessions/crud.go
  jamfpro/jamf_pro_api/user_sessions/crud_test.go
  jamfpro/jamf_pro_api/user_sessions/mocks/validate_active.json
  jamfpro/jamf_pro_api/user_sessions/models.go
Due: unittests

chore(main): release 0.12.0
  CHANGELOG.md
Due: none

openapi: add specs for Jamf Pro 11.27.1-t1777388207638
  openapi-specs/11.27.1-t1777388207638/api-schema.json
  openapi-specs/11.27.1-t1777388207638/swagger.yaml
Due: none

openapi: add specs for Jamf Pro 11.28.0-t1778099559180
  openapi-specs/11.28.0-t1778099559180/api-schema.json
  openapi-specs/11.28.0-t1778099559180/swagger.yaml
Due: none

openapi: add specs for Jamf Pro 11.28.1-t1779801919649
  openapi-specs/11.28.1-t1779801919649/api-schema.json
  openapi-specs/11.28.1-t1779801919649/swagger.yaml
Due: none

chore(main): release 0.13.0
  CHANGELOG.md
Due: none

openapi: add specs for Jamf Pro 11.29.1-t1782156420899
  openapi-specs/11.29.1-t1782156420899/api-schema.json
  openapi-specs/11.29.1-t1782156420899/swagger.yaml
Due: none

feat: implement Jamf Pro 11.29.1 API changes
  jamfpro/jamf_pro_api/mdm/crud_test.go
  jamfpro/jamf_pro_api/mdm/models.go
  jamfpro/jamf_pro_api/mobile_devices/crud_test.go
  jamfpro/jamf_pro_api/mobile_devices/mocks/validate_detail_list.json
  jamfpro/jamf_pro_api/mobile_devices/models.go
Due: unittests

chore(main): release 0.14.0
  CHANGELOG.md
Due: none

openapi: add specs for Jamf Pro 11.30.0-t1782920582649
  openapi-specs/11.30.0-t1782920582649/api-schema.json
  openapi-specs/11.30.0-t1782920582649/swagger.yaml
Due: none

feat: enhance version locking for computer and mobile device prestages
  jamfpro/client/no_retry.go
  jamfpro/client/retry.go
  jamfpro/jamf_pro_api/computer_prestages/crud.go
  jamfpro/jamf_pro_api/computer_prestages/optimistic_lock.go
  jamfpro/jamf_pro_api/mobile_device_prestages/crud.go
  jamfpro/jamf_pro_api/mobile_device_prestages/optimistic_lock.go
  jamfpro/shared/version_locking/execute.go
  jamfpro/shared/version_locking/execute_test.go
  jamfpro/shared/version_locking/sync.go
  jamfpro/shared/version_locking/sync_test.go
Due: unittests, client

feat: implement Jamf Pro 11.30 API changes
  jamfpro/jamf_pro_api/computer_inventory/crud_v3.go
  jamfpro/jamf_pro_api/computer_inventory/crud_v3_test.go
  jamfpro/jamf_pro_api/patch_software_title_configurations/crud_v2.go
  jamfpro/jamf_pro_api/patch_software_title_configurations/crud_v2_test.go
Due: unittests

chore: added updated examples
  examples/jamf_pro_api/mdm/list_commands/main.go
  examples/jamf_pro_api/mdm/list_commands_v1/main.go
  examples/jamf_pro_api/mobile_device_groups/create_smart/main.go
  examples/jamf_pro_api/mobile_device_groups/create_static/main.go
  examples/jamf_pro_api/mobile_device_groups/delete_smart/main.go
  examples/jamf_pro_api/mobile_device_groups/delete_static/main.go
  examples/jamf_pro_api/mobile_device_groups/erase_devices/main.go
  examples/jamf_pro_api/mobile_device_groups/get_smart_by_id/main.go
  examples/jamf_pro_api/mobile_device_groups/get_smart_group_membership/main.go
  examples/jamf_pro_api/mobile_device_groups/get_static_by_id/main.go
  examples/jamf_pro_api/mobile_device_groups/get_static_group_membership/main.go
  examples/jamf_pro_api/mobile_device_groups/list_all/main.go
  examples/jamf_pro_api/mobile_device_groups/list_smart/main.go
  examples/jamf_pro_api/mobile_device_groups/list_static/main.go
  examples/jamf_pro_api/mobile_device_groups/update_smart/main.go
  examples/jamf_pro_api/mobile_device_groups/update_static/main.go
  examples/jamf_pro_api/mobile_devices/get_by_id/main.go
  examples/jamf_pro_api/mobile_devices/get_detail/main.go
  examples/jamf_pro_api/mobile_devices/get_detail_by_id/main.go
  examples/jamf_pro_api/mobile_devices/get_paired_devices/main.go
  examples/jamf_pro_api/mobile_devices/list/main.go
  examples/jamf_pro_api/mobile_devices/update/main.go
  examples/jamf_pro_api/oidc/generate_certificate/main.go
  examples/jamf_pro_api/oidc/get_direct_idp_login_url/main.go
  examples/jamf_pro_api/oidc/get_public_features/main.go
  examples/jamf_pro_api/oidc/get_public_key/main.go
  examples/jamf_pro_api/oidc/get_redirect_url/main.go
  examples/jamf_pro_api/smart_mobile_device_groups/delete/main.go
  examples/jamf_pro_api/smart_mobile_device_groups/get_by_name/main.go
  examples/jamf_pro_api/smart_mobile_device_groups/get_membership/main.go
  examples/jamf_pro_api/smart_mobile_device_groups/list/main.go
  examples/jamf_pro_api/smart_mobile_device_groups/update/main.go
  jamfpro/acceptance/jamf_pro_api/computer_inventory_test.go
  jamfpro/acceptance/jamf_pro_api/patch_software_title_configurations_test.go
Due: none

chore(main): release 0.15.0
  CHANGELOG.md
Due: none

fix(mdm): add command type constants returned by the server but absent from the spec
  jamfpro/jamf_pro_api/mdm/crud_test.go
  jamfpro/jamf_pro_api/mdm/models.go
Due: unittests

feat(macos-config-profiles): add update/delete, fix level enum, rename package
  examples/jamf_pro_api/macos_configuration_profile_custom_settings/create/main.go
  examples/jamf_pro_api/macos_configuration_profiles/create/main.go
  examples/jamf_pro_api/macos_configuration_profiles/delete/main.go
  examples/jamf_pro_api/macos_configuration_profiles/get_by_payload_uuid/main.go
  examples/jamf_pro_api/macos_configuration_profiles/get_schema_list/main.go
  examples/jamf_pro_api/macos_configuration_profiles/update/main.go
  jamfpro/acceptance/jamf_pro_api/macos_configuration_profile_custom_settings_test.go
  jamfpro/acceptance/jamf_pro_api/macos_configuration_profiles_test.go
  jamfpro/jamf_pro_api/macos_configuration_profile_custom_settings/crud.go
  jamfpro/jamf_pro_api/macos_configuration_profile_custom_settings/crud_test.go
  jamfpro/jamf_pro_api/macos_configuration_profile_custom_settings/mocks/responders.go
  jamfpro/jamf_pro_api/macos_configuration_profile_custom_settings/mocks/validate_get.json
  jamfpro/jamf_pro_api/macos_configuration_profile_custom_settings/models.go
  jamfpro/jamf_pro_api/macos_configuration_profiles/crud.go
  jamfpro/jamf_pro_api/macos_configuration_profiles/crud_test.go
  jamfpro/jamf_pro_api/macos_configuration_profiles/enum.go
  jamfpro/jamf_pro_api/macos_configuration_profiles/mocks/responders.go
  jamfpro/jamf_pro_api/macos_configuration_profiles/mocks/validate_create.json
  jamfpro/jamf_pro_api/macos_configuration_profiles/mocks/validate_get.json
  jamfpro/jamf_pro_api/macos_configuration_profiles/mocks/validate_list_schema.json
  jamfpro/jamf_pro_api/macos_configuration_profiles/mocks/validate_update.json
  jamfpro/jamf_pro_api/macos_configuration_profiles/models.go
  jamfpro/jamfpro.go
Due: unittests

chore(main): release 0.16.0
  CHANGELOG.md
Due: none

openapi: add specs for Jamf Pro 11.30.1-t1784555528405
  openapi-specs/11.30.1-t1784555528405/api-schema.json
  openapi-specs/11.30.1-t1784555528405/swagger.yaml
Due: none

openapi: add specs for Jamf Pro 11.30.2-t1785446884863
  openapi-specs/11.30.2-t1785446884863/api-schema.json
  openapi-specs/11.30.2-t1785446884863/swagger.yaml
Due: none

openapi: add specs for Jamf Pro 11.31.0-t1785774933693
  openapi-specs/11.31.0-t1785774933693/api-schema.json
  openapi-specs/11.31.0-t1785774933693/swagger.yaml
Due: none

openapi: add specs for Jamf Pro 11.31.1-t1787060595569
  openapi-specs/11.31.1-t1787060595569/api-schema.json
  openapi-specs/11.31.1-t1787060595569/swagger.yaml
Due: none

ci(release-please): authenticate with the org's release-please App
  .github/workflows/release-please.yml
Due: none

feat: implement Jamf Pro 11.31.1 API changes
  examples/jamf_pro_api/digicert/check_privileges/main.go
  examples/jamf_pro_api/environment_type/get/main.go
  examples/jamf_pro_api/smtp_server/get_allowed_auth_types/main.go
  jamfpro/acceptance/jamf_pro_api/digicert_test.go
  jamfpro/acceptance/jamf_pro_api/environment_type_test.go
  jamfpro/acceptance/jamf_pro_api/smtp_server_test.go
  jamfpro/constants/jamfpro_api_endpoints.go
  jamfpro/jamf_pro_api/digicert/crud.go
  jamfpro/jamf_pro_api/digicert/crud_test.go
  jamfpro/jamf_pro_api/digicert/mocks/responders.go
  jamfpro/jamf_pro_api/digicert/mocks/validate_privilege_check_forbidden.json
  jamfpro/jamf_pro_api/environment_type/crud.go
  jamfpro/jamf_pro_api/environment_type/crud_test.go
  jamfpro/jamf_pro_api/environment_type/enum.go
  jamfpro/jamf_pro_api/environment_type/mocks/responders.go
  jamfpro/jamf_pro_api/environment_type/mocks/validate_get.json
  jamfpro/jamf_pro_api/environment_type/models.go
  jamfpro/jamf_pro_api/smtp_server/crud.go
  jamfpro/jamf_pro_api/smtp_server/crud_test.go
  jamfpro/jamf_pro_api/smtp_server/mocks/responders.go
  jamfpro/jamf_pro_api/smtp_server/mocks/validate_allowed_auth_types.json
  jamfpro/jamf_pro_api/smtp_server/models.go
  jamfpro/jamfpro.go
Due: unittests

openapi: add specs for Jamf Pro 11.32.0-t1787580540993
  openapi-specs/11.32.0-t1787580540993/api-schema.json
  openapi-specs/11.32.0-t1787580540993/swagger.yaml
Due: none
